<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>新增班级</title>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7/dist/css/bootstrap.min.css">
</head>
<body class="container">
	<h3>新增班级</h3>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-3">
			<form action="{:url('insert')}" method="post">
				<label for="name">班级名称:</label><input type="text" name="name" id="name" class="form-control"/>
				<label for="teacher" >代课老师:</label>
				<!-- <input type="text" name="teacher_id" id="teacher" /> -->
				<select name="teacher_id" id="teacher" class="form-control">
					{volist name="teachers" id='_teacher'}
					<option value="{$_teacher->getData('id')}">{$_teacher->getData('name')}</option>>
					{/volist}
				</select>
				</br>
				<button type="submit" class="btn" >提 交</button>
			</form>
		</div>
		<div class="col-md-5"></div>
	</div>
</body>
</html>